.main-nav {
  outline: 5px solid rgba(255, 0, 234, 0.8);
  outline-offset: -5px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  color: #192144;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1320px;
  }
  .main-nav__toggle {
    display: none;
  }
}

