.profile {
  background-color: #EDEFF6;
  color: black ;
  padding: 0 25px;
  }

  .new-profile__item {

display: flex;
flex-direction: column;

@media (min-width: $tablet-width) {
  flex-direction: row;
    }
  }
