.service {

  background-color: #161C35;
  color: #ffffff;
  padding: 0 64px;
  font-size: 16px;

}

.service__title {

margin: 0;
color: orangered;

}

.service__info {

  width: 211px;

}

.service__dop {

  width: 211px;

}
